/* Add CSS Styling */
.odd {
    background-color: rgba(255, 0, 0, 40%);
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#two {
    color: #0000ff;
    font-size: 36px;
}

.three {
    font-size: 24px;
}

#four {
    background-color: hsl(120, 100%, 81%);
    font-size: 24px;
    font-weight: 700;
}